<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
              <%= form_tag '/login', method: :post, :class => "form-signin" %>
              <div class="form-label-group">
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>
              <div class="form-label-group">
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="submit">Sign in</button>
              <hr class="my-4">
              <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> -->
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" id="facebook_sign_in"><i class="fab fa-facebook-f mr-2"></i><a href= "/auth/facebook">Sign in with Facebook</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
