<div class="container">
  <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
    <br><h1 class="card-title text-center">Share this Obituary by Email</h1>
    <div class="card card-search my-5">
      <%= form_tag "/obituaries/#{@obit.id}/share", method: :post, class: 'submit-form' %>
        <div class="card-body" style= "background-color:white; text-align:center;">
          <p class="card-title">You are sharing the following obituary in an email:</p>
          <a href="/obituaries/<%=@obit.id%>" class="card-link"><%=@obit.first_name%> <%=@obit.last_name%>         "<%=@obit.description.first(60)%> ..." </a>

          <div class="form-group-search row">
            <div class="col col-form-label-lg">
                <%= label_tag 'Recipient\'s Name'%>
                <%= text_field :recipient_name, nil, placeholder: "John Doe", class: "form-control" %>
            </div>
          </div>

          <div class="form-group-search row">
            <div class="col col-form-label-lg">
              <%= label_tag 'Recipient\'s Email Address' %>
              <%= text_field_tag :recipient_email, nil, placeholder: 'JohnDoe@email.com', class: "form-control" %>
            </div>
          </div>

          <br>
          <button class="btn btn-submit btn-lg btn-dark btn-primary btn-block text-uppercase" type="submit" id="submit">Send Email</button>
        </div>
  </div>
</div>