<h2>Create a New User</h2>

<%= form_tag "/users", method: "create" do %>

<%= label_tag :first_name %>
<%= text_field_tag :first_name %>

<%= label_tag :last_name %>
<%= text_field_tag :last_name %>

<%= label_tag :email %>
<%= text_field_tag :email %>

<%= label_tag :password %>
<%= password_field_tag :password %>

<%= label_tag :password_verification %>
<%= password_field_tag :password_verification %>

<%= submit_tag "Create User" %>
<% end %>

<%= link_to "Connect through Facebook", "/auth/facebook"%>