<!-- Page Content -->
<div class="container", style= "background-color:white;">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4"><%="#{@obituary.first_name} #{@obituary.last_name}"%></h1>

  <!-- Portfolio Item Row -->
  <div class="row" style="padding-bottom: 50px;">

    <div class="col-md-4" id="obituary-image">
      <%= image_tag(@obituary.image_url) rescue image_tag 'https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg', {class: "img-fluid"} %>
    </div>

    <div class="col-md-6">
      <h3 class="my-3">Obituary</h3>
      <p><%= @obituary.description %></p>
      <h3 class="my-3">Details</h3>
      <ul class="no-bullets">
        <li><b>Age: </b><%= @obituary.age %></li>
        <li><b>Location: </b><%= @obituary.city %>, <%= @obituary.state %></li>
        <% if @obituary.covid == true %>
          <br><li><i><%= "This person died from COVID-19." %></i></li>
          <li><%= link_to "Read more obituaries of people who died from COVID-19.", obituaries_covid_19_path %></li>
        <% end %>
      </ul>
      <br>
      <% if current_user && current_user.has_obituary?(@obituary) %>
        <button class="btn btn-outline-secondary mr-1"><%= link_to 'Edit', edit_obituary_path(@obituary.id) %></button>
        <button class="btn btn-outline-secondary mr-1"><%= link_to 'Delete', "/obituaries/#{@obituary.id}", method: :delete %></button>
      <% end %>
    </div>

  </div>
</div>
<!-- /.container -->



<%# What we display here will be dictated by whether it comes from NYT or is created by a user. User created content will have more information, and link will be optional. NYT will likely have publication date, source, link, and name (not separated into first and last) %>
