<!DOCTYPE html>
<html>
  <head>
    <title>ObituaryHub</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="page-top">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= render partial: 'flash', flash: flash %> 
    <%= yield %>
  </body>
  <br>
  <footer>
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Obituary Hub 2020</div></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS--
    <script src="js/scripts.js"></script>
  </footer>
</html>
